/* .card-container {  
  position: relative;
  z-index: 1;
  margin: 20px;
  height:300px;
  width:300px;
  max-width: 300px;  
  padding: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.card-body {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: .7s;
  margin: 0px;
  perspective: 1000px;
  border: 1px solid #212121;
}

.card-container:hover .card-body {
  transform: rotateY(180deg);
}

/* .card-body:hover {
  transform: rotateY(180deg);
} */

/* .card-container:hover > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
} */

/* .card-body:hover >  .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
}

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;  
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
} 

.side-back{
  z-index: 2;
  padding: 0px;
  text-align:center;
  transform: rotateY(180deg);
  background-color: rgb(49, 87, 0);
} */ 



.card-container {  
  position: relative;
  z-index: 1;
  margin: 20px;
  height:300px;
  width:300px;
  max-width: 300px;
  perspective: 1000px; 
  padding: 0px; 
}

img {
  max-width: 100%;
  max-height: 100%;
}

.box-body {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: .7s;
  margin: 0px;
}

.card-container:hover .box-body {
  transform: rotateY(180deg);
}

 .card-container:hover > .box-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
 }

.card-side {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
} 

.side-back{
  z-index: 2;
  padding: 0px;
  text-align:left;
  transform: rotateY(180deg);
  height: 300px;
  width: 100%;  
}
